label {
    line-height: 1.1;
}

body {
    padding: 0;
    height: 100%;
}

/* TODO remove this style 
ul {
    list-style: none;
}*/

ul:where([role="list"]),
ol:where([role="list"]) {
    /* TODO missing some properties */
    list-style: none;
    margin: 0;
    padding: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: currentColor;
    text-decoration: none;
}
